@import '~bootstrap/scss/bootstrap';


section {
  text-align: center;

}
p, pre {
  margin-left: 70px;
  margin-right: 70px;
  line-height: 50px;
}

.the-problem {
  background-color: orange;
  color: white;
}

.indian-flag {
  height: 1%;
  width: 3%;
  margin-right: 35%;


}

.our-mission {
  background-color: green;
  color: orange;
}

.navbar {
  position: fixed;
  overflow: hidden;
  color: white;
  width: 100%;





}

.graph {
  width: 40%;
  height: 80%;
}

.nav-link:hover {

  background-color: orange;

}

.our-mission {
  font-style: italic;
}

body {
  font-family: montserrat;
}
