@import '~bootstrap/scss/bootstrap';


section {
  text-align: center;

}
p, pre {
  margin-left: 70px;
  margin-right: 70px;
  line-height: 50px;
}

.the-problem {
  background-color: orange;
  color: white;
}

.indian-flag {
  height: 10%;
  width: 40%;
}

.our-mission {
  background-color: green;
  color: orange;
}
